<div class="h-screen bg-gray-50 flex flex-col mt-20 items-center">
  <div class="bg-white border border-gray-300 w-80 py-8 flex items-center flex-col mb-3">


      <div class="mt-8 w-64 flex flex-col">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">

        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo electr칩nico",
            class: "text-xs w-full mb-4 rounded border bg-gray-120 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none text-center"%>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">

        <%= f.password_field :password, autocomplete: "new-password",  placeholder: "Nueva contrase침a",
                             class: "text-xs w-full mb-4 rounded border bg-gray-120 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none text-center"%>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">

        <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: "Confirme contrse침a",
                             class: "text-xs w-full mb-4 rounded border bg-gray-120 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none text-center" %>
      </div>

      <div class="field">

        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Contrse침a actual",
                             class: "text-xs w-full mb-4 rounded border bg-gray-120 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none text-center" %>
      </div>

      <div class=" text-sm text-center bg-blue-300 text-white py-1 rounded font-medium">
        <%= f.submit "Actualizar" %>
      </div>
    <% end %>


    <%= link_to "Atras", :back, class:" text-sm text-center bg-blue-300 text-white py-1 rounded font-medium mt-2" %>
    </div>
  </div>
</div>