<div class="relative bg-gray-200 h-full">
  <%= render partial: "layouts/menu" %>
  <div class="page-content pt-6 h-full">
    <div class="container mx-auto flex h-full">
      <div class="left w-8/12 pr-4">
        <div id="timeline" data-reflex-root="[likes],[comentario]" likes>
          <%= render partial: "post", collection: @posts %>
        </div>
      </div>
      <div class="right w-4/12 h-screen overflow-visible h-full">
        <div class="first fixed pl-4 w-full" style="top:85px;  max-width: 293px;">
          <div class="profile flex items-center p-3 mb-4">
            <div class="avatar rounded-full overflow-hidden mr-3">
              <img width="56px" height="56px" src="https://scontent-ort2-1.cdninstagram.com/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=scontent-ort2-1.cdninstagram.com&_nc_ohc=RLYRR3IenIMAX_WuH3u&oh=f63257aee4bcbf147d7a26c7da5b3467&oe=5F96310F" alt="">
            </div>
            <div class="user-name ">
              <span class="text-lg font-semibold text-gray-700"><%=current_user.profile.user_name %></span>
              <span class="text-sm text-gray-600  block"><%=current_user.profile.name%></span>
            </div>
          </div>
          <div class="suggestion-users">
            <div class="title flex w-full justify-between text-sm">
              <div class="left">
                <h1 class="font-bold">Sugerencias para ti</h1>
              </div>
              <div class="right">
                <span>Ver todo</span>
              </div>
            </div>

            <div id="timeline" data-reflex-root="[follow]" follow>
              <%= render partial: "profile", collection: @profiles %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


