<nav class="" >
  <div class="container mx-auto flex justify-between">
    <div class="logo">
      <h1 class="font-bold text-xl">
        <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="">
      </h1>
    </div>
    <div data-controller="profiles" data-reflex-root="#morph">
      <label class="relative block">
        <input type="text" placeholder="Buscar..." class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
               data-target="profiles.query" data-action="keyup->profiles#perform">
      </label>
      <div id="morph" class="mt-4 uno ">
        <% unless @profiles_follow.blank? %>
          <div class="bg-white  p-5">
            <span data-target="profiles.activity" class="text-danger" hidden>
              <i class="fas fa-spinner fa-spin"></i>
              Buscando perfiles...
            </span>
            <span data-target="profiles.count" class="text-success">
              <strong><%= number_with_delimiter @profiles_follow.count %></strong> Perfiles encontrados
            </span>
            <div data-target="profiles.list" class="table mt-2 " <%= "hidden" if @profiles_follow.blank? %>>
              <div id="timeline ">
                <%= render partial: "profile/profile", collection: @profiles_follow %>
              </div>
            </div>
          </div>
      <% end %>
      </div>
    </div>
    <div class="icons flex">
      <div class="dm-icon mr-6">
        <div class="home-icon mt-1">
          <a href="/post" >
            <i class="fa-solid fa-house"></i>
          </a>
        </div>
      </div>
      <div class="compas-icon mr-6">
        <div class="like-icon mt-1">
          <%=link_to new_post_path do%>
            <i class="fa-regular fa-square-plus _8-yf5"></i>
            <%end %>
        </div>
      </div>
      <div class="profile-icon">
          <span class="text-base font-semibold text-gray-700 mr-2">
              <b> <a href="#opcions">
                <% if current_user.profile.avatar.attached?%>
                <%= image_tag(current_user.profile.avatar, width: "22px", height: "22px" )%>
                  <%else %>
                  <%=current_user.profile.user_name%>
                  <%end %>
              </a> </b>
              <div id="opcions" class="modal miModal3">
                <div class="modal-contenido bg-gray-100">
                  <a href="#"><i class="fa-solid fa-xmark"></i></a>
                  <br>
                  <%=link_to "Perfil", controller: 'profile', action:'show', id: current_user.profile.id, class: "follow text-blue-600 text-sm font-semibold" %>
                  <hr>
                  <%= link_to "Salir", destroy_user_session_path, method: :delete, session: nil %>
                </div>
              </div>
            </span>
      </div>
    </div>
  </div>
</nav>